h1 Create Order

body
  form(action='/api/orders', method='post')
    for type in pizzaTypes
      label Pizza Type
      p= type.name
      label Price
      p= type.price
      label Qty
      select
        option(value='0', selected= true) -- Select --
        for num in [1,2,3,4,5]
          option(value= num)= num
    p
    input(type='submit')
